@charset "utf-8";

body {
background-image: url(images/tile2.png);
margin: 0;
padding: 0;
color: #FFF5EE;
font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
line-height: 18px;
font-size: 12px;
}

p {
margin-bottom: 18px;
}

h2 { 
font-family: "Oswald", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
font-size: 18px; 
line-height: 18px; 
margin-bottom: 18px;
padding: 5px 0px 5px 0px;
}

.modalright{
width:50%; 
height:400px; 
float:right;
}

.modalleft{
width:50%; 
height:400px; 
}